<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>

          <Exclude>[SixSeven.Data]SixSeven.Data.Migrations.*</Exclude>

          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>

          <ExcludeByAttribute>
            System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
